/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

button {
    width: 140px;
    padding: 10px 20px;
    line-height: 0;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}